<div class="container">
  <div class="banner-content">
    <div class="front-img-cont cont_explode">
      <%= image_tag 'explode.jpg', class: "front-img_home" %>
    </div>
    <div class="decision-panel decision-panel_right">
      <div class="decision-panel_text">
        <h1>THE SHUTTLE EXPLODES!</h1>
        <p>And you with it. Try again?</p>
      </div>
      <div class="buttons">
        <%= link_to 'Restart', root_path, class: "button" %>
      </div>
    </div>
  </div>
</div>

