<div class="container">
  <div class="banner-content">
    <div class="decision-panel decision-panel_left">
      <div class="decision-panel_text">
        <h1>THE RELEASE DOESN'T WORK!</h1>
        <p>You are racing back towards Earth. What do you do?</p>
      </div>
      <div class="buttons">
        <%= link_to 'Go out and try to fix it manually', manual_release_path, class: "button" %>
        <%= link_to 'Keep on pressing the release button', explode_path, class: "button" %>
      </div>
    </div>
    <div class="front-img-cont cont_first_first">
      <%= image_tag 'first_first.jpg', class: "front-img_home" %>
    </div>
  </div>
</div>
