<div class="container">
  <div class="banner-content">
    <div class="decision-panel decision-panel_left">
      <div class="decision-panel_text">
        <h1>HOUSTON IS TRYING TO REACH YOU!</h1>
        <p>The connection is bad and it is hard to hear what they are saying. What do you do?</p>
      </div>
      <div class="buttons">
        <%= link_to 'Press the release button', first_first_path, class: "button" %>
        <%= link_to 'Try and improve the connection', explode_path, class: "button" %>
      </div>
    </div>
    <div class="front-img-cont cont_first_second">
      <%= image_tag 'first_second.jpg', class: "front-img_first_second" %>
    </div>
  </div>
</div>
