<div class="container">
  <div class="banner-content">
    <div class="front-img-cont cont_manual_release">
      <%= image_tag 'manual_release.jpg', class: "front-img_home" %>
    </div>
    <div class="decision-panel decision-panel_right">
      <div class="decision-panel_text">
        <h1>IT IS TOO TOUGH!</h1>
        <p>The release doesn't budge. What do you do?</p>
      </div>
      <div class="buttons">
        <%= link_to 'Cut your safety line and jump away', space_jump_path, class: "button" %>
        <%= link_to 'Try and burn through the release', explode_path, class: "button" %>
      </div>
    </div>
  </div>
</div>
